html,body{

  

}


.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 

}

 
.grid{
    
    width: 400px;
    height: 400px;
    border: solid black 1px;
    display: flex; 
    flex-wrap: wrap;
    background-color: black;
    margin-right: 0;
    border-radius: .5rem;
}

.square{
    width: 10px;
    height: 10px;  
}

.snake{
    background-color: #7FFF00;
    border: 1px black solid; 
    box-sizing: border-box;
    border-radius: 50%;

}

.apple{
    background-color: red;
    border-radius: 50%;
}

.specialApple{
    background-color: yellow;
    border-radius: 50%;

}




li{
    margin: 0;
   
}

h1{
    margin: 0;
}

button{
    margin: 5px;
}

.container{
    display: absolute;
    padding: .25em;
    /* float: left; */
    margin-right: 10px;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    min-width: 15%;
    background: grey;
    align-items: center;
    border-radius: .3em;
}

h3{
    font-size: 1.4rem;
}

li{
    list-style: none;
    color: white;
    font-size: 1.2rem;
}